@{
    ViewData["Title"] = "Create or edit";
}

@model csharp_expenses_manager.Models.Expense

<form  asp-controller="Home" asp-action="CreateOrEditForm">
    <label>Id</label>
    <input class="form-control" placeholder="" asp-for="Id"/>

    <label>Value</label>
    <input class="form-control" placeholder="" asp-for="Value" />

    <label>Description</label>
    <input class="form-control" placeholder="" asp-for="Description" />

    <button type="submit">Ok</button>
</form>