@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Access to the <a class="" asp-area="" asp-controller="Home" asp-action="Expenses">Expenses</a>.</p>
</div>
